.navbar{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 25px 40px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

a{
    color: rgb(209, 133, 189);
    text-decoration: none;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0 auto;
}

.ativo{
    border-bottom: 2px solid rgb(209, 133, 189);
    padding-bottom: 5px;
}

.logo{
    height: 80px;
    width: 200px;
    border-radius: 100px;
    border: #333;
    border-width: 2px;

}

.img-logo{
    height: 80px;
    width: 200px;
    object-fit: cover;
}

.login{
    display: flex;
    gap: 30px;
}

.btEntrar{
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;
}

.btEntrar:hover {
  background-color: rgb(209, 133, 189);
  color: white;
}

.btLogin{   
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;
}

.btLogin:hover {
  background-color: rgb(209, 133, 189); 
  color: white;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.hero-imagem{
    background-image: url("../assets/imagens/female-hiker-with-backpack-taking-break-high-hill.jpg");
    height: 45vh;
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    padding: 80px 80px;
    display: flex;
}

.hero-imagem-agencias{
    background-image: url("../assets/imagens/high-angle-passport-compass-laptop.jpg");
    height: 45vh;
    background-position: center;
    background-size: cover;
    position:relative;
    align-items: center;
    padding: 80px 80px;
    display: flex;
}

body, html {
    height: 100%;
}

.hero-texto {
    position: relative;
    color: black;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-texto h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color:rgb(220, 167, 205);
}

.hero-texto h2{
    font-size: 26px;
    color: #b6c1e3;
    margin-bottom: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
}

.hero-texto p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.hero-botoes{
    display: flex;
    gap: 30px;
}

.btDestinos{
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;
}

.btDestinos:hover{
    background-color: rgb(209, 133, 189);
    color: white;
}

.btPosts{
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;
}

.btPosts:hover{
    background-color: rgb(209, 133, 189);
    color: white;
}

.card-texto{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(209, 133, 189);
    padding: 20px 80px;
    margin-top: 0;
}

.card-texto h2{
    display: flex;
    align-items: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.card-texto h4{
    display: flex;
    align-items: left;
    font-size: 18px;
    margin-top: 0;
}

.card-destino{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 28%;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h1{
    text-align: center;
    margin: 10px 0;
}

.card h4{
    font-size: 14px;
    padding: 0 15px;
}

.container{
    max-width: 797px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 0 0 4px #333;
    border-radius: 10px;
}

.login2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.col-40{
    width: 40%;
    padding: 20px 40px;
}

.col-60{
    width: 60%;
    padding: 40px 20px;
}

.form-login h3{
    text-align: center;
}

.form-login input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px #333;
    padding: 5px 0;
    margin-bottom: 20px;
}

.form-login button{
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;   
}

.form-login button:hover{
    background-color: rgb(209, 133, 189); 
    color: white;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-cadastro h3{
    text-align: center;
}

.form-cadastro input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: solid 1px #333;
    padding: 5px 0;
    margin-bottom: 20px;
}

.form-cadastro button{
    border: 1px solid rgb(177, 40, 140);
    border-radius: 20px;
    background-color: white;
    padding: 8px 16px;
    transition-duration: 0.4s;   
}

.form-cadastro button:hover{
    background-color: rgb(209, 133, 189); 
    color: white;
}

.pagina-sobre{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.pagina-sobre .sobre{
    padding: 80px 120px;
}

.pagina-sobre .titulo-sobre h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #b6c1e3;
}

.pagina-sobre .linha{
    width: 300px;
    height: 6px;
    background-color: rgb(209, 133, 189);
    margin-bottom: 70px;
    border-radius: 10px;
}

.pagina-sobre .conteudo-sobre{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.pagina-sobre .imagem-sobre img{
    width: 550px;
    border-radius: 20px;
}

.pagina-sobre .texto-sobre{
    max-width: 600px;
}

.pagina-sobre .texto-sobre h2{
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.pagina-sobre .texto-sobre p{
    font-size: 22px;
    line-height: 1.7;
    color: #444;
}

.pagina-sobre .texto-meio{
    margin-bottom: 120px;
}

.pagina-sobre .texto-meio h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.pagina-sobre .texto-meio p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 1200px;
    color: #444;
}

.pagina-sobre .conteudo-final{
    display: flex;
    align-items: center;
    gap: 80px;
}

.pagina-sobre .texto-fim{
    max-width: 600px;
}

.pagina-sobre .texto-fim h2{
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.pagina-sobre .texto-fim p{
    font-size: 18px;
    line-height: 1.7;
    color: #444;
}

.pagina-sobre .imagem-historia img{
    width: 550px;
    border-radius: 20px;
}

.body-quiz{
    margin:0 ;
    font-family: Arial, Helvetica, sans-serif;


}

    #btnIniciarQuiz{
        border: 1px solid rgb(177, 40, 140);
        border-radius: 20px;
        background-color: white;
        padding: 24px 48px;
        transition-duration: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #btnIniciarQuiz:hover{
        background-color: rgb(209, 133, 189);
        color: white;
    }

    #pontuacaoEJogo{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 500px;
    }

    #jogo{
        border: 1px solid rgb(177, 40, 140);
        padding: 24px;
        justify-content: center;
        align-items: flex-start;
        font-size: 16px;
        flex-direction: column;
        gap: 20px;
        display: flex;
    }

    #infoQuestao{
        font-size: 14px;
        color: rgb(209, 133, 189);
        font-weight: 600;
    }
    
    #opcoes{
        flex-direction: column;
    }

    

